name: Publish

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish
      run: dotnet publish ./calc-pto/calc-pto.csproj -c Release --self-contained true -r win-x64 -o ./publish
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: calc-pto
        path: ./publish/calc-pto.exe